@page "/"


Welcome to your new app.

<Expander Expanded="true">
    <h1>Hello, world!</h1>
</Expander>

<Expander Expanded="true" />
<button @onclick="@(() => StateHasChanged())">StateHasChanged</button>